body {
    background: #333;
    color: #fff;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
}

#cougar {
  background: #B26219;
  clear: both;
}

#lion {
  background: #FFD5AE;
}

#tiger {
  background: #FFBD82;
}

section {
  padding: 90px 20px 20px 20px;
  overflow: auto;
  width: 100%;
}

article {
  width: 50%;
  color: #fff;
  font-size: 75%;
  padding:77px 0 0 75px;
  box-sizing:border-box;
  float:left;
}

div {float: left;
}

.citation {
  font-size: 75%;
}

footer {
  text-align: center;
  padding: 20px;
  width: 50%;
  margin: auto;
}

/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue

   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */

a { color: #379CB2;
text-decoration:none; }

a:hover { color: #82E8FF; }

header {
padding: 25px;
background-color: #333;
position: fixed;
top: 0;
left:0;
width: 100%;
box-sizing: border-box;
}

h1 {
  float: left;
  margin:0;
}
nav {
  float: right;

  padding-top: 20px;
}
nav ul {
  list-style: none;
  margin-top: 0;
}
nav li {
  float: left;
  margin-left: 10px;
  text-transform: uppercase;
}
